.Work-Section {
  color: #08162b;
  min-height: 600px;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.36);
}

.Work-Section-Header-Container {
  width: 72%;
  margin-left: auto;
  margin-right: auto;
}

.Work-Section-Header {
  background: rgb(235, 235, 235);
  background: linear-gradient(90deg, rgba(252, 251, 251, 1) 0%, rgba(235, 235, 235, 1) 100%);
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.36);
  height: 65px;
  width: 320px;
  position: relative;
  font-size: 1.5rem;
  color: #081231;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: center;
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */
}

.Work-Section-Header-Text {
  margin-top: auto;
  margin-bottom: auto;
}

.Work-Section-Header-Symbol {
  margin-top: 17px;
  background-image: url('./../../images/work.svg');
  width: 36px;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-left: 20px;
}

.Work-Section-Body {
  margin-top: -25px;
  background: rgb(235, 235, 235);
  background: linear-gradient(90deg, rgba(252, 251, 251, 1) 0%, rgba(235, 235, 235, 1) 100%);
  display: flex;
  flex-direction: row;
  padding-bottom: 100px;
}

.Work-Section-Left {
  width: 4%;
}

.Work-Section-Left-Arrow {
  margin-top: 190px;
  background-color: #b5bdca;
  padding: 30px 0px;
  opacity: 1;
  transition: opacity 0.3s;
}

.Work-Section-Left-Arrow:hover {
  opacity: 0.7;
  cursor: pointer;
}

.Work-Section-Left-Arrow-Symbol {
  background-image: url('./../../images/left-arrow.svg');
  background-size: 100%;
  width: 25px;
  height: 50px;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}

.Work-Section-Right {
  width: 4%;
}

.Work-Section-Right-Arrow {
  margin-top: 190px;
  padding: 30px 0px;
  background-color: #b5bdca;
  opacity: 1;
  transition: opacity 0.3s;
}

.Work-Section-Right-Arrow:hover {
  opacity: 0.7;
  cursor: pointer;
}

.Work-Section-Right-Arrow-Symbol {
  background-image: url('./../../images/right-arrow.svg');
  background-size: 100%;
  width: 25px;
  height: 50px;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}

.Work-Section-Middle {
  flex: 1;
  margin-left: 4%;
  margin-right: 4%;
}

.Work-Section-Middle2 {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.Work-Section-Top {
  display: flex;
  flex-direction: row;
  height: 110px;
  margin-bottom: 6px;
}

.Work-Section-Title {
  margin-top: auto;
  font-size: 1.95rem;
  font-weight: 600;
  font-family: Noto Serif Regular;
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */
}

.Work-Section-Subtitle {
  margin-left: 4%;
  margin-top: auto;
  font-size: 1.3rem;
  font-family: Noto Serif Regular;
  padding-bottom: 3px;
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */
}

.Work-Section-Images {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  height: calc(6.5vh/1.5 + 250px);
}

.Work-Section-Images-Left {
  width: 60%;
}

.Work-Section-Images-Right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.Image1-Wrapper {
  width: 95%;
  height: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.Work-Section-Elucimed1 {
  background-image: url('./../../images/ensemble-c1-thumbnail.png');
  width: 100%;
  height: 100%;
  background-size: 100% auto;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.36);
  transition: filter 0.5s;
}

.Work-Section-Elucimed1:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

.Work-Section-Elucimed2 {
  background-image: url('./../../images/ensemble-c2-thumbnail.png');
  width: 100%;
  height: 100%;
  background-size: 100% auto;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.36);
  transition: filter 0.5s;
}

.Work-Section-Elucimed2:hover {
  filter: brightness(1.1);
  cursor: pointer;
}

.Work-Section-Elucimed3 {
  background-image: url('./../../images/ensemble-c3-thumbnail.png');
  width: 100%;
  height: 100%;
  background-size: 100% auto;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.36);
  transition: filter 0.5s;
}

.Work-Section-Elucimed3:hover {
  filter: brightness(1.1);
  cursor: pointer;
}

.Work-Section-Paperless1 {
  background-image: url('./../../images/paperless1.png');
  width: 100%;
  height: 100%;
  background-size: 100% auto;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.36);
  transition: filter 0.5s;
}

.Work-Section-Paperless1:hover {
  filter: brightness(1.1);
  cursor: pointer;
}

.Work-Section-Paperless2 {
  background-image: url('./../../images/paperless2.png');
  width: 100%;
  height: 100%;
  background-size: 100% auto;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.36);
  transition: filter 0.5s;
}

.Work-Section-Paperless2:hover {
  filter: brightness(1.1);
  cursor: pointer;
}

.Work-Section-Paperless3 {
  background-image: url('./../../images/paperless3.png');
  width: 100%;
  height: 100%;
  background-size: 100% auto;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.36);
  transition: filter 0.5s;
}

.Work-Section-Paperless3:hover {
  filter: brightness(1.1);
  cursor: pointer;
}

.Work-Section-Metamorphic1 {
  background-image: url('./../../images/metamorphic1.png');
  width: 100%;
  height: 100%;
  background-size: 100% auto;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.36);
  transition: filter 0.5s;
}

.Work-Section-Metamorphic1:hover {
  filter: brightness(1.1);
  cursor: pointer;
}

.Work-Section-Metamorphic2 {
  background-image: url('./../../images/metamorphic2.png');
  width: 100%;
  height: 100%;
  background-size: 100% auto;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.36);
  transition: filter 0.5s;
}

.Work-Section-Metamorphic2:hover {
  filter: brightness(1.1);
  cursor: pointer;
}

.Work-Section-Metamorphic3 {
  background-image: url('./../../images/metamorphic3.png');
  width: 100%;
  height: 100%;
  background-size: 100% auto;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.36);
  transition: filter 0.5s;
}

.Work-Section-Metamorphic3:hover {
  filter: brightness(1.1);
  cursor: pointer;
}

.Image2-Wrapper {
  width: 87%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.Image3-Wrapper {
  width: 87%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.Work-Section-Description {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.85rem;
  text-align: left;
  line-height: 27px;
}

.Work-Section-Description:hover {
  cursor: default;
}

.Work-Section-Arrows {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.Work-Section-Arrow-Left {
  flex: 1;
  text-align: left;
  font-size: 1.4rem;
  font-family: Noto Serif Regular;
}

.Work-Section-Arrow-Right {
  flex: 1;
  text-align: right;
  font-size: 1.4rem;
  font-family: Noto Serif Regular;
}