



.Header-Section{
  color:white;
  font-family: Noto Serif, serif;


  /* Needed for children to be absolutely positioned relative to the parent. */
    position: relative;
    /* The height of the container. Must be set, but it doesn't really matter what the value is. */
    height: 500px;

}

.Header-Section::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  transform: translateZ(-1px) scale(1.5);
  /* Force the background image to fill the whole element. */
  background-size: 100%;
  /* Keep the image from overlapping sibling elements. */
  z-index: -1;
}

/* Sets the actual background images to adorable kitties. This part is crucial. */
.Header-Section::after {
  background-image: url('./../test2.png');
  opacity:0.1;
  background-repeat: repeat-y;
}

.Header-Section-Left{

}

.Header-Section-Right{
  width:16%;
  background-color:rgba(235,235,235,1);
}

.Header-Section-Wrapper{
  display:flex;
  flex-direction:row;
}

.Header-Text-Section{
  margin-left:3%;
  width:75%;

}



.Header-Container{
  padding:80px 90px;

}


.Header-Bar-Top{
  display:flex;
  flex-direction:row;
}

.Header-Text-Section-Menu{

  display:flex;
  flex-direction:row;
  margin-top:23px;
  font-size:1.25rem;

}

.Header-Text-Section-Menu-Contacts{
  margin-left:5%;
}

.Header-Bar-Top-Dot{
  flex:1;
}

.Dot-Image{
  margin-right:auto;
  width:15px;
  height:15px;
  background-image: url('./../images/dot.png');
  background-size:15px;
}

.Header-Bar-Top-Language-Wrapper{
  flex:1;
}

.Header-Bar-Top-Language{
  background-color: rgba(255,255,255,0.1);
  width:25%;
  margin-left:auto;
  padding:7px;
  border-radius:8px;
  display:flex;
  flex-direction:row;
  justify-content:center;
}

.Header-Text-Section-Line{
  background-color: #8ca8cc;
  height:3px;
  outline:none;
  border:none;
  margin-top:23px;
  width:30%;
  margin-left:0px;
  align:left;

}

.Language-Text{
  Font-Family:Calibri;
  font-size:1.1rem;
}

.Language-Symbol{
  background-image:url('./../images/world.png');
  background-size:20px;
  width:20px;
  height:20px;
  margin-left:10px;

}


.Header-Text-Section-Title{
  font-size:3.7rem;
  text-align:left;
  font-weight:200;
  color: #dae8fd;
}

.Header-Text-Section-AboutMe{
  margin-top:35px;
  text-align:left;
  font-size : 1.05rem;
  width:80%;
  font-family: Calibri;
  font-weight:300;
}

.Header-Photo-Section{
  width:40%;
}

.Header-Photo-Me{
  width:200px;
  height:100%;
  background-size:100%;
  background-repeat:no-repeat;
  margin-top:30px;
  background-image: url('./../images/me.png');

  margin-right:auto;
}
