.App {
  text-align: center;
  background-color:#0c1c35;
  /*position:relative;*/
   /*height: 100vh;
   perspective: 1px;
   transform-style: preserve-3d;
   overflow-x:hidden;
   overflow-y:auto;
   */

   font-family:Calibri;
}



.Parallax-Wrapper{
  /*
  width: 100vw;
  height:100vh;
  box-sizing: border-box;
  transform-style: preserve-3d;
  */
}

.Parallax-Wrapper::before {
  /*
    content:"";
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    background-image: url("./test2.png");
    background-repeat: repeat-y;
    position: absolute;
    z-index: -1;
    transform:translateZ(-1px) scale(2);
    opacity:0.1;
    */
}


.App-Background{
  border:15px solid red;
  position:absolute;
  background-image:url('./test2.png');
  z-index:3;
  height:100%;
  width:100%;
  top:0;
  left:0;
  opacity:0.3;
  background-size: auto;


}




.Contact-Section{
   height:500px;
 }
