.App {
  text-align: center;
  background-color:#0c1c35;
  position:relative;
  height: 100vh;
   perspective: 1px;
   transform-style: preserve-3d;
   overflow-x:hidden;
   overflow-y:auto;
}



.Parallax-Wrapper{
  width: 100vw;
  height:100vh;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

.Parallax-Wrapper::before {
    content:"";
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    background-image: url("./test2.png");
    background-repeat: repeat-y;
    position: absolute;
    z-index: -1;
    transform:translateZ(-1px) scale(2);
    opacity:0.1;
}


.App-Background{
  border:15px solid red;
  position:absolute;
  background-image:url('./test2.png');
  z-index:3;
  height:100%;
  width:100%;
  top:0;
  left:0;
  opacity:0.3;
  background-size: auto;


}



.Strengths-Section{


}

.Strengths-Section-Header{

  background-color:white;
  border:1px solid black;
  height:50px;
  width:27%;
  margin-left:10%;
  margin-top:-425px;  /* needs to be negative so that it sits atop of the other div */
}

.Strengths-Section-Body{
    background-color:white;
    height:400px;


}

.Work-Section{
  margin-top:450px;
  height:500px;
  background-color:pink;

}



.Work-Section-Header{
  background-color:pink;
  border:1px solid black;
  height:50px;
  width:27%;
  margin-left:10%;
  margin-top:-625px;  /* needs to be negative so that it sits atop of the other div */
}

.Work-Section-Body{
    background-color:pink;
    height:600px;


}

.Contact-Section{
   height:500px;
 }
